


@font-face {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_n3.374d5f789b55dc43ab676daa4d4b2e3218eb6d25.woff2") format("woff2"),
       url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_n3.96e999b56a2455ae25366c2fa92b6bd8280af01a.woff") format("woff");
}

@font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}

@font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}



  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_n4.70f7efd699799949e6d9f99bc20843a2c86a2e0f.woff2") format("woff2"),
       url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_n4.35d308a1bdf56e5556bc2ac79702c721e4e2e983.woff") format("woff");
}




  @font-face {
  font-family: "Josefin Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_n5.72427d78743bbf3591b498f66ad0f8361904dc4d.woff2") format("woff2"),
       url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_n5.15e133f4dfd3ea9ee7de5283759b87e9708721ae.woff") format("woff");
}




  @font-face {
  font-family: "Josefin Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_n5.72427d78743bbf3591b498f66ad0f8361904dc4d.woff2") format("woff2"),
       url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_n5.15e133f4dfd3ea9ee7de5283759b87e9708721ae.woff") format("woff");
}







  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_i4.a2ba85bff59cf18a6ad90c24fe1808ddb8ce1343.woff2") format("woff2"),
       url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_i4.2dba61e1d135ab449e8e134ba633cf0d31863cc4.woff") format("woff");
}



  @font-face {
  font-family: "Josefin Sans";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_i5.24cfcbf486b16cad465e46cf4f709f8dee1c9da0.woff2") format("woff2"),
       url("//greenenvee.com/cdn/fonts/josefin_sans/josefinsans_i5.9788b7a07516efceab3b983b467dd972211b8317.woff") format("woff");
}


